export * from '@domains/<%= dasherize(name) %>/data/models/<%= dasherize(name) %>.model';
export * from '@domains/<%= dasherize(name) %>/data/repositories/<%= dasherize(name) %>.repo';
export * from '@domains/<%= dasherize(name) %>/data/services/<%= dasherize(name) %>.service';
export * from '@domains/<%= dasherize(name) %>/data/use-cases/create/create-<%= dasherize(name) %>.usecase';
export * from '@domains/<%= dasherize(name) %>/data/use-cases/delete/delete-<%= dasherize(name) %>.usecase';
export * from '@domains/<%= dasherize(name) %>/data/use-cases/details/<%= dasherize(name) %>-details.usecase';
export * from '@domains/<%= dasherize(name) %>/data/use-cases/list/<%= dasherize(name) %>-list.usecase';
export * from '@domains/<%= dasherize(name) %>/data/use-cases/update/update-<%= dasherize(name) %>.usecase';